@charset "UTF-8" ;

.mainvisual {
  background-color: #FFED58;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  padding: 70px 0 160px;
  margin-bottom: 40px;
}

.mainvisual-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mainvisual-item .catchphrase {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 42px;
}

.mainvisual-item .catchphrase span {
  background-color: #fff;
  display: inline-block;
  margin-bottom: 22px;
  white-space: nowrap;
}

.description {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 500;
}

.mainvisual-item .img {
  max-width: 560px;
}

.mainvisual-item .img img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

/* ------------------------------------------------------
　　　　　　　　　　　レスポンシブ
------------------------------------------------------*/

@media screen and (max-width: 767px) {
  .pc {
    display: none;
  }

  .mainvisual {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    padding: 50px 0 90px;
  }

  .mainvisual-item {
    flex-direction: column;
  }

  .mainvisual-item .catchphrase {
    font-size: 32px;
    margin-bottom: 10px;
  }

  .mainvisual-item .catchphrase span {
    margin-bottom: 10px;
  }

  .description {
    font-size: 14px;
    margin-bottom: 30px;
  }

  .mainvisual-item .img {
    max-width: 350px;
  }
}

/* ------------------------------------------------------
　　　　　　　　　　　選ばれる理由
------------------------------------------------------*/

.reason {
  margin-bottom: 80px;
}

.reason-item {
  display: flex;
  justify-content: space-between;
}

.reason-item li {
  max-width: 250px;
  width: 30%;
  margin-right: 5%;
}

.reason-item li:last-child {
  margin-right: 0;
}

.reason-item img {
  margin-bottom: 20px;
}

.reason .title {
  text-align: center;
  margin-bottom: 25px;
}

/* ------------------------------------------------------
　　　　　　　　　　　選ばれる理由 レスポンシブ
------------------------------------------------------*/

@media screen and (max-width: 767px) {
  .reason {
    margin-bottom: 40px;
  }

  .reason-item {
    flex-direction: column;
    align-items: center;
  }

  .reason-item li {
    width: 100%;
    margin: 0 0 40px;
  }

  .reason-item li:last-child {
    margin-bottom: 0;
  }
}

/* ------------------------------------------------------
　　　　　　　　　　　　　　　サービス
------------------------------------------------------*/

.service {
  background-color: #FFED58;
  clip-path: polygon(0 0, 100% 20%, 100% 80%, 0 100%);
  padding: 120px 0;
}

.service-item {
  display: flex;
}

.service-item .img {
  width: 50%;
}

.service-item .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.service-item .text {
  width: 50%;
  background-color: #fff;
  padding: 20px 30px;
}

.service-text {
  margin-bottom: 20px;
}

.service-text .en {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0.1em;
  display: block;
}

.service-text .ja {
  font-size: 12px;
  font-weight: normal;
  display: block;
}

.service-item .description {
  font-size: 14px;
  line-height: 1.8;
  margin-bottom: 20px;
}

.service-item .btn {
  background-color: #000;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  padding: 10px 30px;
  position: relative;
}

.service-item .btn::after {
  content: "";
  width: 7px;
  height: 7px;
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
  position: absolute;
  top: 16px;
  right: 18px;
  transform: rotate(45deg);
}

/* ------------------------------------------------------
　　　　　　　　　　　　サービスレスポンシブ
------------------------------------------------------*/

@media screen and (max-width: 767px) {
  .service {
    clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
    padding: 80px 0;
  }
  .service-item {
    flex-direction: column;
    align-items: center;
  }
  .service-item .img {
    width: 100%;
  }
  .service-item .text {
    width: 100%;
  }
  .service-item .img img {
    object-fit: contain;
  }
}

/* ------------------------------------------------------
　　　　　　　　　　　　　プライス
------------------------------------------------------*/

.price {
  background-color: #FFED58;
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 80%);
  padding: 120px 0;
  margin: -80px 0 80px;
}

.price-item {
  display: flex;
}

.price-item .text {
  width: 50%;
  background-color: #fff;
  padding: 20px 30px;
}

.price-text {
  margin-bottom: 20px;
}

.price-text .en {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0.1em;
  display: block;
}

.price-text .ja {
  font-size: 12px;
  font-weight: normal;
  display: block;
}

.price-item .description {
  font-size: 14px;
  line-height: 1.8;
  margin-bottom: 20px;
}

.price-item .btn {
  background-color: #000;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  padding: 10px 30px;
  position: relative;
}
.price-item .btn::after {
  content: "";
  width: 7px;
  height: 7px;
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
  position: absolute;
  top: 16px;
  right: 18px;
  transform: rotate(45deg);
}

.price-item .img {
  width: 50%;
}

.price-item .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ------------------------------------------------------
　　　　　　　　　　　　プライスレスポンシブ
------------------------------------------------------*/

@media screen and (max-width: 767px) {
  .price {
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
    padding: 80px 0;
    margin: -45px 0 40px;
  }
  .price-item {
    flex-direction: column-reverse;
    align-items: center;
  }
  .price-item .img {
    width: 100%;
  }
  .price-item .text {
    width: 100%;
  }
  .price-item .img img {
    object-fit: contain;
  }
}

/* ------------------------------------------------------
　　　　　　　　　　　　ご利用者の声
------------------------------------------------------*/

.voice {
  margin-bottom: 80px;
}

.voice-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.voice-item .img {
  margin-right: 45px;
}

.voice-item .img:nth-child(2) {
  margin-right: 0;
  margin-left: 45px;
}

.voice-item .img img {
  border: solid 1px #ddd;
  border-radius: 50%;
  max-width: 182px;
}

.voice-text {
  max-width: 660px;
  border: solid 1px #707070;
  border-radius: 8px;
  padding: 20px;
  line-height: 2;
  position: relative;
}

.voice-text::after {
  content: "";
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-right: 1px solid #707070;
  border-bottom: 1px solid #707070;
  position: absolute;
  top: 45%;
}

.voice-item:nth-of-type(1) .voice-text::after {
  transform: rotate(135deg);
  left: -10px;
}
.voice-item:nth-of-type(2) .voice-text::after {
  transform: rotate(-45deg);
  right: -10px;
}

.voice-item:nth-of-type(3) .voice-text::after {
  transform: rotate(135deg);
  left: -10px;
}

.voice-text .age {
  text-align: right;
}

/* ------------------------------------------------------
　　　　　　　　　　　ご利用者の声レスポンシブ
------------------------------------------------------*/

@media screen and (max-width: 767px) {
  .voice {
    margin-bottom: 40px;
  }
  .voice-item .img img {
    width: 100px;
  }
  .voice-item .img {
    margin-right: 20px;
    flex-shrink: 0;
  }
  .voice-item .img:nth-child(2) {
    margin-left: 20px;
  }
  .voice-text {
    font-size: 14px;
    padding: 10px;
  }
}

/* ------------------------------------------------------
　　　　　　　　　　　　　　お問い合わせ
------------------------------------------------------*/

.contact {
  background-color: #FFED58;
  clip-path: polygon(0 20%,100% 0,100% 100%,0 100%);
  padding: 100px 0 60px;
}

.box {
  text-align: center;
}

.contact .text {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 40px;
}

.contact .btn {
  font-size: 14px;
  background-color: #fff;
  padding: 20px 60px;
  border: solid 1px #707070;
  display: inline-block;
}

/* ------------------------------------------------------
　　　　　　　　　　　　お問い合わせレスポンシブ
------------------------------------------------------*/

@media screen and (max-width: 767px) {
  .contact {
    padding: 60px 0 40px;
    clip-path: polygon(0 10%,100% 0,100% 100%,0 100%);
  }
}



